@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/*Global Styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root{
  --main-header-color:#EBFAFC;
  --light-ebg:rgba(75, 89, 116, .02);
  --dark-ebg:rgba(75, 89, 116, .7);
  --blue-e:#007cba;
  --darker-blue-e:#006ba1;
  --darkest-blue-e: #005a87;
  --e-navy:#111a44;
  --background-color:rgba(75, 89, 116, .1);
  --navybg:#111a44;
  --iconsig:#1AAABA;
  --iconsigopa:rgba(94, 195, 206, 0.1);
  --iconsig2:rgba(94, 195,206);
  --iconsig3:rgba(94, 195, 206);
  --navybg1:#3d4466;
  --navybg2:#7e8299;
  --navybgopa:rgba(40, 48, 86, .3);
   --iconsig2op:rgba(94, 195, 206, .3);
}
.iconsigopa{
  background-color:var(--iconsigopa)!important;
}


body{
  margin:0;
  padding:0;
  font-style:normal;
  font-weight:normal;
}

html{
  font-family: "Poppins",sans-serif;
  scroll-behavior: smooth;
  font-size:10px;
  

}
section {
  background-color: white;
  padding: 7.9rem 0;
  margin:4rem auto;
  overflow: hidden;
}
.container{
 min-height:100%;
 max-width: 144rem;
 margin:0 auto;
 padding: 2%;
 text-align: left; 
 
}
img{
  width:100%;
  max-width:100%;
}
svg{
  width:100%;
  max-width:100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}
.preload {
  transition:none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}





.display-none {
  display: none;
}

.button-blue{
display: inline-block;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eddd7), color-stop(100%, #3dadd2));
border: none;
color: white;
cursor: pointer;
transition: color .5s linear;
border-radius: 6px;
font-size: 1.5rem;
font-weight: 600;
margin-right:10px;
cursor: pointer;
transition: color .5s linear;
height:5rem;
text-align: center;
text-transform:uppercase;
}
.button-white {
  text-transform: uppercase;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: color .5s linear;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  transition: color .5s linear;
  height:5rem;
  text-align: center;
}
#button-white-hero {
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b9e6f5));
  transition:background-color .3 ease;
}
#button-white-hero:hover{
background-color: var(--navybg)!important;
}
.button-white a:hover,
.button-white a:focus {
  color: #065a76;
}
.button-blue a:hover,
.button-blue a:focus {
  color: #065a76;
}
.btn-center {
  justify-content:center;
}
/*Utility Section*/
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  color: #1A2B3C;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 63px;
  color: var(--e-navy);
  text-align: center;
  margin-bottom: 3rem 0;
}


h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #1A2B3C;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A2B3C;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 212.5%;
  color: #596D81;
}

/*header*/
header{

  width:100%;
  position:absolute;
  top:0;
  left:0;
  height:auto;
  text-align:center;
  background-color:var(--main-header-color);
  
}

.nav{
  background-color: var(--main-header-color);
  display:flex;
  max-width:144rem;
  width:100%;
  height:6rem;
  margin:4rem auto;
  justify-content:space-around;
  align-items: center; 
  position: relative;

}



#logo{
  width:8rem;
}


.nav-list{
 
  display: flex;
  justify-content: space-between;
}
.nav-list li{
  position:relative;
}

.nav-item{
  display:block;
  text-transform: uppercase;
  font-size: 1.5rem;
 
  padding:.6rem; 
  
  
}
.nav-item:nth-child(6){
  margin-right:0;
}

.drop-item {
  width: inherit;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 1.5px;
  margin-right: -1px;
}
.nav-link{
  color:#536B84;
  padding:0 1rem;
  letter-spacing: 1.5px;
  margin-right:-1px;
  
 
  cursor: pointer;
  line-height:4rem;
  text-align: left;
  text-align:center;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--iconsig) !important;
  border-radius: 6px;}

.nav-list{
  position:relative;
}
.label {
  display: block;
  cursor: pointer;
}
.menu-toggle {
  display: none;
}
.submenu {
  top:2rem;
  width:20rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  z-index:100;
  position:absolute;
  background-color:var(--main-header-color);
}
.trans{
  transition: all .5s ease;
}

.submenu li {
  line-height: 1.4rem;
}

#sub:hover>.submenu {
  top: 5rem;
  opacity: 1;
  visibility: visible;
}
 .logomove {
   visibility: visible;
   opacity: 0;
   position:absolute;
   top:0;
   left:0;
 }
.left{
  text-align: left;
}
/*Home: Hero*/
.hero-container{
  max-width: 1440px;
  position: relative;
  background-color: pink;
  min-height:100%;
  margin:0 auto;
}

  .hero-bg{
    padding-top:7rem;
    min-height:100vh;
  }

.hero-flex{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  position:relative;

}
.hero{
  background-color:var(--main-header-color);
  min-height:100%;
  margin-top:7rem;
}
.hero-bg{
  background-color:var(--main-header-color);
}
.double-flex{
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;

}
.double-flex-item{
  padding:0;
  width:100%;
  margin-right:8rem;
  position:relative;
  padding:2rem;

}
.double-flex-item > p{
  margin:0;
}
.double-flex-item:nth-child(2){
  margin-right:0;
}

.hero-text p{
padding:0;
margin-left:0;
max-width:57rem;
width:100%;
}
.hero-text1 {
  font-style: normal;
  font-weight: bold;
  font-size: 14.5rem;
  line-height: 20rem;
  color:var(--navybg);
  padding: 0;
  margin: 0;
  width:100%;
  animation: fadeUp .7s forwards;
  animation-delay: .5s;
  opacity:0;
}

.hero-text2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 4rem;
  color:var(--navybg);
  width:100%;
  margin-bottom:2rem;
  max-width:60rem;

}

.hero-text3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--navybg1);
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .8s;
  width:50rem;
  width:100%;
  width:500px;
}
.hero-img{
  position: relative;
  animation: rotate 1.5s;
  animation-delay: 3;
  will-change: opacity, transform;
}

.dots{
  position:relative;
  z-index: 2;
}

.video {
  padding: 0;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: rgba(0, 0, 0, .95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.trailer video {
  position: relative;
  max-width: 1200px;
  outline: none;

}

.active {
  opacity: 1;
  visibility: visible;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  max-width: 34px;
  z-index: 100000;
  opacity: .3;
}


.fa-window-close {
  color: white;
  font-size: 32px;
}

.whitepaper-btn {
  padding: 0;
}

.tracker-btn1 {
  flex: 1;
  margin-right: 10px;
  padding: 16px;
}

.tracker-btn2 {
  flex: 1;
  padding: 16px;
}
.light-bg{
  background-color: var(--light-ebg);
}



/*Home: Key Use Cases*/
.multi-flex-container{
  margin-bottom:2rem;
}
.use-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}
.use-row h4{
  margin-bottom:2rem;
}
.use-item{
  flex:1;
  max-width:34rem;
  width:100%;
  height:31rem;
  flex:1;
  margin:3rem;
  background-color: white;
  padding:3rem 2rem;
  transition: transform .5s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .04);
  z-index: 0;
}
.use-item:hover {
  transform:scale(1.1)
}
.use-item p{
  margin:0;
}
.use-img{
  height: 7rem;
  width: 7rem;
  margin-bottom: 1rem;
}
#nebula {
  width: 100%;
}

#broof {
  width: 153.55px;
}

#visitme {
  width: 202px;
}

#omm {
  width: 154px;

}
hr {
  margin: 2.7rem;
  border: 2px solid var(--iconsig);
  width: 30.5px;
  background-color: var(--iconsig);
}
.staking-line{
  margin-left:0;
}
.staking-box{
  position: relative;
  left:20%;
  max-width:40rem;
  width:100%;
  height:30rem;
  background-color: white;
  padding:2rem;
  box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -moz-box-shadow:0px 34px 100px rgba(48, 74, 98, 0.05);
  -webkit-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
}
.staking-info{
  width:100%;
  margin-top:5rem;
  text-align: left;
}
/*Home: Explore*/
.container{
  overflow: visible;
  min-height:100%;
}
.flex-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
}
.explore-item{
  width: 34rem;
  height:45rem;
  text-align: center;
  margin:3rem auto;
  padding:3rem;
}
.reverse{
  flex-wrap: wrap!important;
}

.explore-item h4, p{
margin:2rem;
}
.icon{
  width:15rem;
}
.explore-btn{
  position: relative;
  justify-content: center;
}

/*Home: Latest News*/
.medium-widget-article__row{
  justify-content: space-around;
   display: flex;

}
.medium-widget-article__item {
  display: block !important;
  position: relative !important;
  max-width: 32rem;
  min-height: 412px !important;
  background-color: white !important;
  position: relative !important;
  text-align: left !important;
  transition: all .5s !important;
  text-transform: uppercase;
}




.medium-widget-article__title {
  margin: 4rem 0;
  line-height: 2.6rem;
  height:6rem;
  
}
.medium-widget-article__info{
  display: inline;
}


.medium-widget {
  padding: 0;
}



footer {
  position: relative;

  width: 100%;
  margin:8rem auto;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer-wrapper1{
  margin:0 auto;
  text-align:center;
  background-color: var(--main-header-color);
  margin-bottom:8rem;
  padding:2%;
  position:relative;
}
.footer-wrapper2{
  display:flex;
  justify-content: space-between;
  align-items: center;
}



.footer-wrapper1 h2 {
  color:var(--navybg);
  margin-top:7rem;
  margin-bottom:4rem;
}
.footer-wrapper1 a{
  margin:2rem auto;
}

.flex-item{
  margin-right:3rem;
}
.flex-item:nth-child(2){
  margin-right:0;
}

.social{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width:30rem;
  margin-right:2rem;
}
.social>a {
  color: grey;
  font-size: 14px;
  text-align:left;
}
.social-buttons {
  margin-top: 56px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  transition: color .5s linear;

}

.social-buttons i:hover,
.social-buttons i:focus {
  color: #065a76;
}


.social-buttons a {
  margin-right: 10px;
}

.fab {
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  text-decoration: none;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  border-radius: 100%;
  position: relative;
  transition: color 0.3s linear;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eddd7), color-stop(100%, #3dadd2));
  background-image: -moz-linear-gradient(top, #6eddd7, #3dadd2);
  background-image: -webkit-linear-gradient(top, #6eddd7, #3dadd2);
  background-image: linear-gradient(to bottom, #6eddd7, #3dadd2);
}




.ft-linkbox{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
}
.ftlink-item{
  text-transform: uppercase;
  flex-shrink:3;
  text-align: left;
 
  background-color: ;
  transition: color .5s linear;
}
.ftlink-item a {
  display:block;
   font-style: normal;
   font-weight: normal;
   font-size: 1rem;
   height: 2.5rem;
   color: #1A2B3B;
   padding: .4rem;
   margin-bottom:2px;
}
.social-buttons {
  margin-top: 5.6rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  transition: color .5s linear;

}
#link-head{
  height:5rem;
 
}
#link-head:hover,
#link-head:focus {
  color: #1AAABA;
}

.social-buttons i:hover,
.social-buttons i:focus {
  color: #065a76;
}
#link-head:hover,
#link-head:focus {
  color: #1AAABA;
}


.ftlink-item a:hover,
.ftlink-item a:focus {
  color: var(--iconsig2);
}
.foot-logo{
  position: relative;
  width: 128px;
  height: 45px;
}
.footer-logo{
  top:0;
  left:0;
  position:absolute;
}
.footer-logo-hover{
display:none;
}
.foot-icon {
  top:-23%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  
}


#link-head {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  height: 3rem;
  color: #1A2B3B;
  margin-bottom: 30px;
  margin-right: 10px;

}

.ftlink-item>a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 21px;
  margin-bottom: 19px;
  color: #1A2B3B;
}


.footer-wrapper2{
  display:flex;
  flex-wrap:no-wrap;
  justify-content:center;
 
}


.desk-only{
  display:block;
}
.mobile-only{
  display:none;
}

@media screen and (max-width:1080px){
   .footer-wrapper2 {
     display: block;
   }
   .social{
    margin-bottom:3rem;
   }
   .ft-linkbox{
    float: left;
   
   }

}

/*Responsive Mobile*/
@media screen and (max-width:960px) {
 

  /*Responsive Global*/
  section {
    padding: 3.9rem 0;
  }

  .container {
    text-align: center;
    padding: 0 2.4rem;
    margin: 0 auto;
    
  }
  .mobile-only{
    display:block;
  }
  .desk-only{
    display:none;
  }
  .ft-linkbox{
    display:block;
  }
 


  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .container {
    padding: 0 6%;
  }

  .no-display-small {
    display: none;
  }
}

@media screen and (max-width:1180px){

  /*Responsive Navigation*/
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
  }

  .nav {
    height: 7.2rem;
    position:relative;
    margin:1rem 0;
    justify-content: center;
  }
  .nav-item{
    width:100%;
    line-height: 5rem;
    position: relative;
  }
  .nav-link{
    display: block;
    text-align:left;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
  }

  .menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    width: 5rem;
    height: 4rem;
  }


  .menu-btn__burger {
    width: 3rem;
    height: .3rem;
    background-color: var(--iconsig);
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--iconsig);
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-10px);

  }

  .menu-btn__burger::after {
    transform: translateY(10px);
  }

  .nav-list {
    flex-direction: column;
  }

  .disableScroll {
    overflow: hidden;
  }

  #a:checked+.submenu {
    display: block;
 
  }

  #b:checked+.submenu {
    display: block;

  }

  #c:checked+.submenu {
    display: block;
  }
  .submenu {
    text-align: center;
    display: none;
    text-align: center;
  }
 .logo-div {
   position: absolute;
   left: 1rem;
 }

 
 .nav-link:hover,
 .nav-link:focus {
   color: var(--iconsig) !important;
   border-radius: 6px;
 }


  .logomove img {
    animation: spin 5s infinite;
    animation-timing-function: linear;
  }
  .open .logomove {
    visibility: visible;
     position: absolute;
     left:10%;
     opacity:1;
  }
  
  .visible {
    visibility: visible;
    position: relative;
    z-index: 3000;
  }


  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1250px;
    transition: transform .5s;
    transform: translateX(-100%);
    padding:5rem;

  }
  .nav-item{
    display:block;
    margin-top:1rem;
  }
  .open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  
  .open .nav-list {
    transform: translateX(0);
  }
  
  .open .nav::before {
    opacity: 1;
    transform: scale(1);
  }
  
  .nav-item {
    position:relative;
    
  }
  .submenu{  
    position:absolute;
   background-color: rgba(34,34,34);
   top:0;
   padding-top:1rem;
   padding-bottom:2rem;
   margin-bottom:2rem;
   text-align: right;
  
  }


  .nav-item>.nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #1AAABA;
    opacity: 0.8;
    position: absolute;
    
  }

  .nav-item>.nav-link:hover::after {
    width: 40%;
    transition: all .3s;
  }
  /*Responsive Footer*/
 
 
  .ft-linkbox{
    text-align: left;
  }
  .ftlink-item{
    width:100%;
    margin-bottom:3rem;
  }
  .ftlink-item a {
    height:3rem;
    margin-bottom:.2rem;
  }
  #link-head{
    height:initial;
    margin:0;
  }
  .footer-wrapper1 h2{
    margin:7rem 0 4rem 0;
  }
  .footer-wrapper1 a {
    margin: 2rem 0 4rem 0;
  }



}



  /*Responsive Home: Hero*/
  @media screen and (max-width:960px){
  
  .hero-flex{
   
    display:block;
    margin:auto;
    position: relative;
  }
  .hero-text{
    text-align: center !important;
    margin:0;
    padding:0;
     margin-left:50%;
     margin-right:50%;
    
  }
  .hero-text p{
    display:inline-block;
    margin:0 auto;
  }
  .hero-text1{
   width:100%;
    padding:0;
  
  }
  .double-flex{
    display:block;
    margin:0 auto;
    text-align: center;
    min-height:100%;
  }
  .double-flex-item{
    display: block;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
  }
  .hero-text{
    margin-bottom:3rem;
  }
  .hero-text1{
    margin:0 auto;
    display:block;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
  }
  .hero-img{
    padding:5%;
  }
  .dots{
    display: none;
  }
   .heromain {
     width:100%;
     padding:0;
     position: initial;
   }

.button-blue-double{
  width:100%;
  margin-right:0;
  margin-bottom:1%;
}
.button-white-double {
  width: 100%;
  margin-right: 0;
}
  
   .hero-text3{
     margin-top:2rem;
     width:100%;
   }
   .double-flex-item{
     padding:0;
     margin:2rem 0 2rem 0;
     width:100%;
     min-height:100%;
   }
   .double-flex-item p {
     padding:0;
     text-align: left;
   }
   .hero-text {
     text-align: center;
     width:100%;
     margin: 0 auto;
     padding: 0;
     display: block;
   }
   .hero-flex{
     display:block;
   }

    /*Responsive Home: Key Use Cases*/
   
   .use-item{
     width:initial;
     text-align: initial;
     width:100%;
     margin:20px auto;
   }
   .staking-box{
     margin:0 auto;
     position:initial;
     width:100%;
     text-align: initial;

   }
    /*Responsive Home: Explore*/
    .flex-container{
      display:block;
      margin:0 auto;
    }
    .explore-item{
      width:100%;
      padding:0;
    }
 
  /*Responsive Home: Latest News*/
  .medium-widget-article__row {
    display: block !important;
    margin:0 auto !important;
  
  }
  .medium-widget-article__item {
    width:100% !important;
    margin:2rem auto;
    padding:3%;
    
  }
  

  .staking-info{
    width:100%;
  }
   .btn-flex {
     text-align: center !important;
   }
  
  
}

/*Developer*/
.head{
   width: 100%;
   background-color:var(--main-header-color);
   min-height:100%;
}
.head-flex {
 
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-title{
  margin-top:8rem;
}

.header-title h1
{
  color:var(--navybg);
  text-align: left;
  padding:.7rem 0 .7rem 0;
}
.header-title p{
  margin:3rem 0;
  width:50rem;
  max-width: 700px;
  width:100%;
}

.header-title h1 {
  opacity: 0;
  animation: fadeUp .7s forwards;
  animation-delay: .5s;
}

.header-title p {
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .8s;
}
.header-image{
  width:19rem;
}
.header-icon {
  animation: spin .7s;
}
.glider {
  margin-top: 50px;
  background-color: var(--iconsig2op);
}

.news-card {
  display:block;
  position:relative;
  width:30%;
  min-height: 412px;
  background-color: white;
  position: relative;
  text-align: left;
  padding: 30px;
  margin: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .04);
  z-index: 0;

}

.news-card:hover{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eddd7), color-stop(100%, #3dadd2));
  ;
}
.news-card:hover .news-title {
   color:white;
}

.news-card:hover .news-sub {
    color:white;
}

.news-card:hover .news-num {
  color:white;
}

.news-card:hover .news__txt {
   color:white;
}
.news-card:hover .readmore1{
  color:white;
}


.news-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A2B3C;
  padding:0;
  margin:0;
  transition:color .4 ease;
}

.news-sub {
  font-size: 20px;
  margin-bottom: 50px;
 color: var(--navybg);
}



.glider-contain {
  width: 100%;
}


.news__txt {
  font-weight: 200;
  position: absolute;
  bottom: 20px;
  font-size:2rem;
  color:var(--iconsig);
  margin:0;
}

 .btn-flex {
   display:block;
   margin-top:4rem;
   text-align: left;
  
 }
.center{
   text-align: left !important;
}

.btn-center{
  text-align: center;
}
.button-blue {
   min-width: 135px;
   padding: 1.6rem 2.4rem;
   font-size: 1.4rem;
   letter-spacing: 1.07px;
   line-height: 1.1875;
   transition: color .5s linear;
}
.button-blue:hover,
.button-blue:focus {
  color: #065a76;

}

.button-blue {
  transition: color 650ms linear;
}

.button-white {
   min-width: 135px;
   padding: 1.6rem 2.4rem;
   font-size: 1.4rem;
   letter-spacing: 1.07px;
   line-height: 1.1875;
   transition: all .5s linear;
   border: 1px solid var(--iconsig2);
   color: #111a44;
   background-color: transparent;
   
}
.button-white:hover{
  background-color: var(--iconsig2);
  color:white;
}
#button-white-hero {
  border: none;
  color:var(--navybg);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b9e6f5));
}
#button-white-hero:hover {
  background-image:none;
  color:var(--iconsig2);

}



.button-blue a:hover,
.button-blue a:focus {
  color: #065a76;
}

.btn-center {
  justify-content: center;
}








/*2Section: Resources and Tools*/

.resource-container {
  margin: 40px auto;
  max-width: 1440px;
  width: 100%;
  background:var(--iconsig2op);
  padding: 40px 0;
}

.resource-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.resource-item {
  display:block;
  position:relative;
  max-width: 340px;
  min-width: 340px;
  min-height: 412px;
  background-color: white;
  position: relative;
  text-align: left;
  padding: 30px;
  margin: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .04);
  z-index: 0;
  transition: all 0.3s ease;
}

.res-h {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A2B3C;
  padding:0;
  margin:0;
  transition:color .4 ease;

}


.res-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding:0;
  margin:0;
  color: #596D81;
  transition:color .4 ease;
  height:100%;  
}

.readmore1 {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--iconsig3);
  text-align: left;
  text-decoration: none;
  margin: 0;
  bottom: 3rem;

}

.readmore {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--iconsig3);
  text-align: left;
  text-decoration: none;
  margin:0;
  bottom:3rem;

}
.resource-item:hover{
transition:all .3 ease;

animation:scale(1.1);
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eddd7), color-stop(100%, #3dadd2));
}
.resource-item:hover > * {
  transition: color .3 ease;
  color: white;
   
}


hr{
  margin-left:0;
}

.join-community {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;

}

.join {
  width: 319px;
  height: 319px;
  max-width: 50%;
  margin-left: 106px;
  animation: spin 17s infinite;
  animation-timing-function: linear;
}

.join-desc {
  max-width: 710px;
}

.join-desc>p {
  margin: 38px 0;
  width: 500px;

}

@media screen and (max-width:960px) and (min-width:500px) {
  .head-flex {
    margin-top: 4rem;
  }
}
/*Responsive Developer*/
@media screen and (max-width:960px) {
  .head-flex{
   
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;

  }
 .header-title{
   margin:0 auto;
   display:block;
   text-align: center;
   position: relative;
   height:auto;
   text-align: center;
 }
  .header-title h1{
    text-align: center;
    margin-bottom:3rem;
  }
  .header-image{
    margin:0 auto;

  }
.join-community {
  margin: 0;
  padding: 0;
  flex-direction: column-reverse;
  text-align: center;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  align-items: center;

}

.join-community h2 {
  text-align: center;
}

.join-desc p {
  padding: 0;
  margin: 0;
  width: 354px;
  text-align: center;
  height: 60px;
  margin-bottom: 55px;
}

.join {
  height: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;

}
.glider{
  background-color: transparent;}
  .news-card {

    border: 2px solid var(--iconsig2);
    margin: 1%;
    height: 312px;
  }
  .glider-slide .active .center .visible{
    text-align: left !important;
  }
  .glider-prev{
  
    margin:3%;
  }
  .glider-next {

    margin: 3%;
  }
}


  



/*What Is Icx*/

.price-box {
  margin-top:5rem;
  background:white;
  box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -moz-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -webkit-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  box-sizing: border-box;
  border-radius: 6px;
  border:3px solid var(--iconsig2);
  height: 325px;
  width: 500px;
  text-align: center;
  transition:all .3s ease;
  
}

.price-head {
  height: 4.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color:var(--navybg);
  margin-bottom: 14px;
}



#price {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 100px;
  height: 60px;
  color:var(--navybg);
}

.line {
  width: 80%;
  margin: 2rem auto;
  border: 1px solid var(--navybgopa);
}

.percent {
  display: flex;
  margin-top:2rem;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#percent {
  font-size: 24px;
  line-height: 212.5%;
  color: #FF6A61;
}

.time {
  font-size: 24px;
  line-height: 212.5%;
  color: white;
}


.wallet-group {
  display: flex;
}

.wallet-group a {
  text-align: center;
  margin-left: 20px;
}

.wallet-flex{
  display:block;
}
.wallet-flex a{
 display: inline-block;
  text-align: center;
  margin:0 auto;
  
}



/*Section What else*/
.what-else {
  width: 100%;
  max-width: 1440px;
  position: relative;
  padding: 0;
  margin: 80px auto;


}

.what-h2 {
  margin-bottom: 80px;
}


.blue-deco {
  position: absolute;
  width: 483px;
  height: 594px;
  top: 93px;
  background: #EEFDFF;
  z-index: -1;
}

.trade-img {
  width: 492px;
  height: 125px;
}
.what-flex{
  background-color: var(--light-ebg);
  display: flex;
  justify-content: center;
}

.what-item {
  background-color: white;
  box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -moz-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -webkit-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  border-radius: 6px;
  max-width: 480px;
  width:100%;
  min-width:32rem;
  text-align: left;
  padding: 30px;
  min-height: 350px;
  position: relative;
  margin:2rem;
  transition: all 0.3s ease;
}

.what-item>p {
  margin-top: 13px;
  margin-bottom: 50px;
 margin-left:0;
}

.what-item:hover {
  transition:all .5 ease;
  transform: scale(1.05);  
}


.wallet {
  border-radius: 4px;
  width: 200px;
  height: 54px;
  display: inline-block;
}

.myicon {
  background: #4FA7B7;
  background-image: url(/Images-f/Group\ 485.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.iconex {
  background: #2F3747;
  background-image: url(/Images-f/Group\ 487.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trust {
  background: #3375BB;
  background-image: url(Images-f/atomic\ wallet.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ledger {
  background: #2F3747;
  background-image: url(/Images-f/Group\ 483.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-header{
  display: block;
  text-align: center;
}

/*Responsive What-is-icx*/
@media screen and (max-width:960px) {
.what-header {
  text-align: center;
  padding:0;
  margin:0 auto
}
.what-flex{
  flex-wrap:wrap;
}

.what-header>h1 {
  margin: 0 auto;
  text-align: center;
}

.what-head-flex {
  display: block;
  text-align: center;
  text-align: center;
}

.what-header>p {
  margin: 0 auto;

  text-align: center;
  padding: 0;
}

.price-box {
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  height: 100%;
}

.price-box p {
  
  text-align: center;
  padding: initial;
  margin: initial;
}

.price-head {
  height: 20%;
  font-size: 20px;

}
.staking-box {
  text-align: left;
}
.staking-line{
  width:15%;
}
.staking-item h3 {

  margin:20px;
}


#price {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #1A2B3C;
  height: 20%;

}

.percent {
  margin: 0;
}
.staking-line{
  margin:0;
}


.time {
  font-size: 14px;
}

.get-btn {
  padding: 12px 57px;
}



.what-item {

  height: auto;
  padding: 5%;
  /*
    padding-top:10%;
    padding-left:5%
    */
}


.what-item p {
  height: 100px;
  margin-bottom: 30px;
  padding: 0;
}

.tuto-btn {
  width: 80%;
  z-index: 2;
  margin: 4px auto;
}

.what-btn {
  padding: 2%;
}
.wallet-grid {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  text-align: center;
  grid-gap:2%;

}


.wallet-grid .wallet {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.wallet-btn {
  width: 133px;
  height: 35px;
  margin: 2%;

}

.wallet-container {
  position: relative;
  width: 96%;
  top: 10%;
  left: 2%;
}


.gov-wallet {
  padding: 0;
  margin-left: -10px;
}
.wallet-box{
  width:100%;
  position:initial;
  margin:0 auto;
}


}

/*Network*/
 .network-row {
   margin-bottom: 119px;
   display: flex;
   justify-content: space-between;
 }
.network-body {
  margin: 0;
  padding: 0;
  background-color: var(--light-ebg);
}

.network-body h2 {
  margin-bottom: 30px;
}


.network-row {
  margin-bottom: 119px;
  display: flex;
  justify-content: space-between;
}

.network-img {
  margin-top:5rem;
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
}


.network-desc {
  text-align: left;
  flex: 1;
  max-width: 600px;
  width:100%;
  padding: 2%;
  align-content: center;
  margin: auto;
}

.network-desc>h2 {
  text-align: left;
  padding-bottom: 11px;
  flex-basis: 500px;
}
.network-desc p{
  margin:0;
}
.net-reverse {
  flex-direction: row-reverse;
}

.network-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  text-align: left;
  height: 50%;
  margin: auto;
  padding: 40px;
  box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -moz-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
  -webkit-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
}

.box-header {
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  color: #1A2B3C;
}

.network-btn {
  padding: 16px 22px;
  white-space: nowrap;
}




/*4Section: Icon Features*/
.features-flex {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.features-item {
  flex: 1;
  padding:1%;
  width: 35rem;
  min-height:40rem;
  margin-right: 137px;
  text-align: center;
}

.features-item:nth-child(2) {
  margin-right: 0;
}

.features-item>h4 {
  margin: 41px 17px;
}




/*Responsive Network*/
@media screen and (max-width:960px) {
  .network-body {
    margin-top: 50px;
    padding: 0;
  }

  .left-mobile {
    text-align: left;
  }
  .center-mobile{
    text-align: center !important;
    white-space: nowrap;
  }

  .network-row {
    padding: 0;
    margin: auto;
    width: 100%;
    flex-direction: column;

  }
  .network-row p{
    text-align: left;
  }

.network-box {
  width: 100%;
}
  .network-btn {
    margin-top: 10px;
    width: 98%;


  }

  .network-desc {
    margin-top: 30px;
    text-align: center;
  }

  .network-img {
    margin: 10px;
  }

  .network-box {
    margin: 10px;
  }
  

  /*4RSection: Icon Features*/

  .features-flex {
    display: block;
    margin: 0;
    padding: 0;
  }

  .features-item {
    width: 100%;
    margin-bottom: 65px;
  }

  .network-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: left;
    height: auto;
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .network-box div p {
    text-align: center;
  }


  .box-header {
    font-weight: normal;
    font-size: 31.0829px;
    line-height: 47px;
    color: #1A2B3C;
    margin: 0;
    padding: 0;
  }

  /*Features*/
  .features-header {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .features-item h4 {
    margin-top: 25px;
    margin-bottom: 12px;


  }

  .features-item p {
    margin-bottom: 50px;
    text-align: center;
  }

  .features-btn {
    margin-bottom: 8rem;
    margin-top: 0;
  }
 
}
.blue-box{
  background-color: var(--iconsig2);
}

/*Governance*/

.voting-desc{
  padding:2rem;
}
.per-vote{
  width:40rem;
  padding:5%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .04);
 
}

.double-flex-item h2{
   text-align: left;
}
.main-prep-img{
  width:65rem;
  height:50rem;
  background:url(/Images-f/7.prep-group.svg);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  padding:0;
  margin:0;
}

.iiss-title {
  margin-bottom: 60px;
}

.iiss-row {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-around;

}

.iiss-row-reverse {
  flex-direction: row-reverse;
}

.iiss-desc {
  text-align: left;
  flex: 1;
  padding: 20px;
  width:100%;
  max-width: 400px;
}

.iiss-desc h2 {
  text-align: left;
  margin-bottom: 30px;
}
.iiss-desc p{
  padding:0;
  margin:0;
}

.iiss-img {
  width: 400px;
}

.iiss-btn {
  padding: 17px 34px;

}


/*Responsive Governance*/
@media screen and (max-width:960px) {
  .main-prep-img-mobile {
    background-image: url(/Images-f/main-prep-m.svg);
    margin-top: 40px;
    width: 100%;
    height: 512px;
    background-image: url(/Images-f/7.mobilee-prep.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
    -moz-box-shadow:0px 34px 100px rgba(48, 74, 98, 0.05);
    -webkit-box-shadow: 0px 34px 100px rgba(48, 74, 98, 0.05);
    border-radius: 6px;
  }
  .see-btn {
    padding: 16px 36px;
    margin: 0 auto;
    width: 98%;
  }

  .become-btn {
    padding: 16px 17px;


  }
  .iiss-row{
    display: block;
    width:100%;
    margin:5rem auto;
   
  }
  .iiss-desc{
    width:100%;
    margin:2rem auto;
    padding:0


  }
  .per-vote{
    width:100%;
    position: relative;
  }
  .mobile-full-white{
     width:100%;
     display:inline-block !important;
     margin-bottom:2px;
  }
  .mobile-full-blue{
    width:100%;
    display:inline-block !important;
    margin-bottom:6px;
  }
  .left-header{
    margin:4rem auto;
    text-align:left;
  }
#gov-btn{
  
  padding-left:0;
  padding-right:0;

}


}
/*Apps*/
.app-row{
  background-color:white;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;

 
}
.app-item{
  box-shadow: 0 3px 5px rgba(0, 0, 0, .04);
  z-index: 0;
  transition: all 0.3s ease;
  max-width:34rem;
  width:100%;
  flex:1;
  min-height:35rem;
  width:34rem;
  margin:3rem;
  padding:3rem 2rem;
  background-color: white;
  z-index:3;
}
.app-item:hover{
  transform: scale(1.1);
}
.app-item p {
  margin: 0;
}

.app-item img{
  height: 7rem;
  width: 7rem;
  margin-bottom: 1rem;
}
.app-item h4{
  margin-top:2rem;
  margin-bottom:2rem;
}

#nebula {
  width: 100%;
}

#broof {
  width: 153.55px;
}

#visitme {
  width: 202px;
}

#omm {
  width: 154px;

}

.application-body h2{
  text-align: left;
  margin:4rem;
}
.app-row{
  background-color: var(--light-ebg);
}

/*Responsive apps*/
@media screen and (max-width:960px) {
.app-row{
  display:block;
  width:100%;
}
.app-item{
  
  width:100%;
  text-align: left;
  margin-left:0;
}
.app-item:hover{
  transform:initial;
}
.application-body h2{
  margin:0;
}
.application-body{
  min-height:100%;
  margin-bottom:3rem;
}

  
}
#what-head {

 max-width:50rem;
}
/*Guides*/
.guides-link {
  padding: 12px;
  margin: 30px;
  text-align: left;
}

.guides-link>h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.guides-flex {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
}

.guides-flex a {
  padding: 12px 0 12px 0;
  flex: 1;
  font-size: 18px;
  line-height: 212.5%;
  /* or 38px */
  display: inline-block;

  text-decoration-line: underline;

  color: #1AAABA;
}

.guides-flex i {
  margin-left: 20px;
}

.guides-flex p {
  flex: 1.5;
  padding: 12px 0 12px 0;
}

/*Responsive:Guides*/
@media (max-width:480px) {
  .guides-link {

    padding: 0;
    width: 100%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .guides-flex {
    display: block;

    padding: 0;
    margin-top: 30px;


  }

  .guides-flex h3 {
    margin-bottom: 20px;

  }


  .guides-flex a {
    width: 100%;


  }

  .guides-flex p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .head-flex{
    margin-top:10rem;
  }

}



/*Animation*/
@keyframes anim1{
  from{
    transform:translateY(-100px);
    opacity: 0;
  }
  to{
    transform:translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fadeinLeft {
  0% {
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(-10deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.animation-fadeDown {
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: .8s;
}
.animation-fadeUp {
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}
.animation-scale {
  animation: scale .7s forwards;
}

.will-change{
  will-change: transform, translate;
}
.key-section{
  position:relative;
}
.home-deco-1 {
  width: 59px;
  height: 59.26px;
  border: 0.5px solid #1AAABA;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  left:10.9rem;
  top:12rem;
}

.deco-rect {
  top: 122px;
  left: -98px;
  z-index: 1;
  position: relative;
}

.home-deco-2 {
  background: #EBFAFC;
  width: 209px;
  height: 179px;
  position: relative;
  z-index: -1;
}

.home-deco-3 {
  position: absolute;
  background: #1AAABA;
  width: 81.62px;
  height: 81.98px;
  opacity: .1;
 bottom: 0;
  right: 0;
  z-index:1;
}

@media(max-width:960px){
  /*R:Home*/
  .home-deco-1 {
    width: 25px;
    height: 25px;
    border: 0.5px solid #1AAABA;
    box-sizing: border-box;
    position: absolute;
    left: 25px;
    top: 120px;
    
  }
  .space{
    height:3rem;
  }

  .deco-rect {
    position: absolute;
    left: 0;
    top: 120px;
  }

#index-learn{
  margin-top:0;
}
  .home-deco-2 {
    background: #EBFAFC;
    width: 25px;
    height: 25px;
    position: relative;
  }

  .home-deco-3 {
    background: #1AAABA;
    width: 35px;
    height: 50px;
    opacity: .1px;
    position: absolute;
  
  }
}
